    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section,
    body,
    div,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    hr,
    p,
    blockquote,
    dl,
    dt,
    dd,
    ul,
    ol,
    li,
    pre,
    fieldset,
    legend,
    button,
    input,
    textarea,
    form,
    th,
    td {
        margin: 0;
        padding: 0;
        vertical-align: baseline;
    }
    
    body {
        background-color: #fff;
        color: #777;
        min-width: 1200px;
        font: 12px/1.5 "微软雅黑", Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
    }
    
    ul,
    ol {
        list-style: none outside none;
    }
    
    a {
        text-decoration: none;
        color: #777;
    }
    
    address,
    cite,
    dfn,
    em,
    var,
    i {
        font-style: normal;
    }
    
    img {
        border: 0 none;
        vertical-align: middle;
    }
    
    .mod-topMenu {
        background: #f7f7f7;
        height: 31px;
        line-height: 32px;
        border-bottom: 1px solid #e7e7e7;
        position: relative;
        z-index: 3001;
    }
    
    .main {
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .topNav {
        display: inline-block;
        width: 100%;
        color: #999;
        font-family: Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
    }
    
    .topNav_left {
        float: left;
    }
    
    .top_loginMenu {
        float: left;
        /* display: inline; */
        height: 30px;
        position: relative;
        margin-right: 20px;
        /* padding: auto 6px; */
    }
    
    .top_loginMenu .menu-hd {
        padding: 0 9px;
        height: 32px;
        position: relative;
        float: left;
        /* _height: 33px; */
    }
    
    .header-name {
        height: 30px;
        line-height: 30px;
        /* display: inline-block; */
        float: left;
        white-space: nowrap;
    }
    
    .menu-hd .watchS_icon {
        margin-top: 14px;
    }
    
    .watchS_icon {
        background-position: -80px 0;
        width: 5px;
        height: 3px;
        /* margin-top: 5px; */
        margin-left: 5px;
    }
    
    .topNav_icon {
        background: url(../img/topMenu_redicon.png) no-repeat;
        /* display: inline-block; */
        float: left;
        cursor: pointer;
    }
    
    .header-greeting {
        margin-right: 20px;
        float: left;
    }
    
    .top_loginMenu {
        float: left;
        /* display: inline; */
        height: 30px;
        position: relative;
        margin-right: 20px;
        /* padding: auto 6px; */
    }
    
    .header-login {
        color: #999;
        margin-right: 20px;
        float: left;
    }
    
    .header-signUp {
        color: #999;
        float: left;
    }
    
    .loginName_menu-bd {
        position: relative;
        left: 0;
        margin-top: 30px;
        z-index: 1000;
    }
    
    .topNav_right {
        float: right;
    }
    
    .topNav_orders {
        font-size: 12px;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        /* display: inline-block; */
        text-align: left;
        position: relative;
        z-index: 15;
        margin: 0 0 0 20px;
        margin-top: 9px;
        float: left;
        height: 14px;
    }
    
    .myOrders_link,
    .myFavo_link,
    .phone_link,
    .watch_link,
    .bus_link,
    .topMenuCar_link {
        height: 14px;
        line-height: 14px;
        color: #999;
        /* display: inline-block; */
        float: left;
    }
    
    .topMenuCar_icon {
        background: url(../img/topMenuCar_redicon.png) no-repeat;
        width: 12px;
        height: 12px;
        margin-top: 2px;
        margin-right: 5px;
        /* display: inline-block; */
        float: left;
        cursor: pointer;
    }
    
    .topR_txt {
        float: left;
        /* display: inline-block; */
        cursor: pointer;
    }
    
    .topMenuCar_link .topR_txt i.orange {
        font-weight: bold;
    }
    
    .orange {
        color: #f66a11;
    }
    
    .topNav_orders {
        font-size: 12px;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        /* display: inline-block; */
        text-align: left;
        position: relative;
        z-index: 15;
        margin: 0 0 0 20px;
        margin-top: 9px;
        float: left;
        height: 14px;
    }
    
    .myOrder_icon {
        background-position: 0 2px;
        width: 10px;
        height: 14px;
        margin-right: 5px;
    }
    
    .topNav_favorites,
    .topNav_phone,
    .topNav_watch,
    .topNav_business,
    .topNav_index {
        font-size: 12px;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        /* display: inline-block; */
        text-align: left;
        position: relative;
        z-index: 3002;
        margin: 0 20px;
        margin-top: 9px;
        float: left;
        height: 14px;
    }
    
    .myFavo_icon {
        background-position: -110px 1px!important;
        width: 12px;
        height: 13px;
        margin-right: 5px;
    }
    
    .top_cutline {
        float: left;
        margin-top: 10px;
        /* display: inline-block; */
        overflow: hidden;
        height: 8px;
        border-left: 1px solid #e5e5e5;
    }
    
    .watch_icon {
        background-position: -40px 1px!important;
        width: 12px;
        height: 13px;
        margin-right: 5px;
    }
    
    .watchS_icon {
        background-position: -80px 0;
        width: 5px;
        height: 3px;
        margin-top: 5px;
        margin-left: 5px;
    }
    
    .topNav_watchBox {
        position: absolute;
        border-left: 1px solid #e7e7e7;
        border-bottom: 1px solid #e7e7e7;
        border-right: 1px solid #e7e7e7;
        border-top: 0;
        left: 9px;
        top: 31px;
        background: #fff;
        padding: 10px;
        width: 180px;
    }
    
    .dn {
        display: none!important;
    }
    
    .watch_L {
        float: left;
        width: 80px;
        height: 80px;
        margin-right: 10px;
    }
    
    .watch_R {
        float: left;
        width: 90px;
        padding-top: 18px;
    }
    
    .top_cutline {
        float: left;
        margin-top: 10px;
        /* display: inline-block; */
        overflow: hidden;
        height: 8px;
        border-left: 1px solid #e5e5e5;
    }
    
    .bus_icon {
        background-position: -60px 1px;
        width: 12px;
        height: 13px;
        margin-right: 5px;
    }
    
    .top_cutline {
        float: left;
        margin-top: 10px;
        /* display: inline-block; */
        overflow: hidden;
        height: 8px;
        border-left: 1px solid #e5e5e5;
    }
    
    .topNav_index {
        margin-right: 0;
    }
    
    .main:after {
        display: table;
        content: '';
        clear: both;
    }
    
    .top_banner {
        margin: 0 auto;
    }
    
    .top_banner .top_banner_ad {
        background-repeat: no-repeat;
        width: 100%;
        background-position: center center;
        background-size: auto;
    }
    
    .topBanner_open {
        position: relative;
    }
    
    .topbanner_fold {
        width: 44px;
        height: 15px;
        padding-left: 0;
        overflow: hidden;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        display: block;
        background: rgba(0, 0, 0, .4);
        line-height: 15px;
        text-indent: 4px;
        font-size: 12px;
    }
    
    .topbanner_fold:after {
        content: "";
        width: 15px;
        height: 15px;
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
        background: url(../img/iqiyiMallPcIndexExpendTrans.png) no-repeat 0 0;
    }
    
    .mb30 {
        margin-bottom: 30px;
    }
    
    .header_logo {
        float: left;
        /* display: inline-block; */
        margin-top: 30px;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 100%;
        font-weight: normal;
    }
    
    .header_searchBox_fl {
        float: left;
        padding-left: 154px;
    }
    
    .header_searchBox {
        /* float: right; */
        margin-top: 37px;
        width: 510px;
    }
    
    .search_panel {
        border: 1px solid #ee394b;
        height: 34px;
        position: relative;
        z-index: 3000;
    }
    
    .search_txt {
        width: 396px;
        border: 0;
        background: #fff;
        font-size: 12px;
        padding-left: 10px;
        color: #999;
        height: 14px;
        line-height: 14px;
        padding-top: 10px;
        padding-bottom: 10px;
        outline: 0;
        float: left;
    }
    
    input,
    textarea {
        color: #333;
    }
    
    button,
    input,
    select,
    textarea {
        font-family: inherit;
        font-size: 100%;
        vertical-align: baseline;
        *vertical-align: middle;
    }
    
    .search_btn {
        width: 100px;
        color: #fff;
        border: 0;
        background: #eb3b4a;
        font-size: 20px;
        height: 34px;
        margin: 0;
        float: right;
        font-family: "\5FAE\8F6F\96C5\9ED1";
        outline: 0;
    }
    
    .in_Suggest {
        zoom: 1;
        position: absolute;
        top: 35px;
        left: -1px;
        border-left: 1px solid #ee394b;
        border-bottom: 1px solid #ee394b;
        border-right: 1px solid #ee394b;
        width: 419px;
        background: #fff;
        z-index: 200;
    }
    
    .search_hots {
        height: 14px;
        line-height: 14px;
        overflow: hidden;
        padding-top: 10px;
        color: #c7c7c7;
        margin-left: -8px;
    }
    
    .search_hots a {
        margin: 0 10px;
        float: left;
        font-family: Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
    }
    
    .search_hots .top_cutline {
        margin: 3px 0 0 0;
    }
    
    .top_cutline {
        float: left;
        /* display: inline-block; */
        overflow: hidden;
        height: 8px;
        border-left: 1px solid #e5e5e5;
    }
    
    .search_hots a.hots {
        color: #ee394b;
    }
    
    .search_hots a {
        margin: 0 10px;
        float: left;
        font-family: Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
    }
    
    .header-right {
        float: right;
        margin-top: 30px;
        font-family: 'Microsoft YaHei';
    }
    
    .arrow-item {
        float: right;
        margin: 31px 0 0 10px;
        width: 39px;
        height: 19px;
        background: url(../img/arrow2.gif) no-repeat;
    }
    
    .arrow-item span {
        float: left;
        width: 19px;
        height: 19px;
        cursor: pointer;
    }
    
    .header-pro {
        float: right;
        width: 160px;
        height: 50px;
        overflow: hidden;
        position: relative;
    }
    
    .header-pro li {
        display: block;
        width: 100%;
        position: absolute;
    }
    
    .header-pro li img {
        float: left;
        margin-right: 10px;
    }
    
    .header-pro li p {
        line-height: 20px;
        float: left;
        padding: 5px 0;
        width: 100px;
    }
    
    .header-pro li p b {
        display: block;
        color: #999;
        font-weight: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;
    }
    
    .header-pro li p span {
        display: block;
        width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #666;
        cursor: pointer;
    }
    
    .nav-wrap {
        height: 40px;
        background: #ee394b;
        font-family: 'Microsoft YaHei';
    }
    
    .nav-center {
        width: 1200px;
        margin: 0 auto;
        position: relative;
        z-index: 100;
        height: 40px;
        overflow: initial;
    }
    
    .nav-box {
        float: left;
        width: 860px;
        height: 40px;
    }
    
    .nav-box li.indexActive {
        width: 82px;
    }
    
    .nav-box li.active {
        border-bottom: 3px solid #cc0e2b;
        font-weight: bold;
    }
    
    .nav-box li {
        /* display: inline-block; */
        float: left;
        position: relative;
        text-align: center;
        height: 40px;
        line-height: 40px;
        padding: 0 25px;
        border-bottom: 3px solid transparent;
        box-sizing: border-box;
        transition: border-bottom 1s;
        -webkit-transition: border-bottom 1s;
        _width: 100px;
    }
    
    .nav-box .first_nav {
        display: block;
        height: 40px;
        line-height: 40px;
        /* vertical-align: middle; */
        text-align: center;
        font-size: 16px;
        color: #fff;
        position: relative;
    }
    
    .wrapper-box {
        padding-bottom: 40px;
        background: #fff;
        font-family: 'Microsoft YaHei';
    }
    
    .banner {
        height: 400px;
        position: relative;
        overflow: hidden;
    }
    
    .banner ul {
        position: absolute;
        left: 0px;
        top: 0px;
    }
    
    .banner ul li {
        height: 400px;
        float: left;
    }
    
    .banner ol {
        position: absolute;
        width: 180px;
        height: 20px;
        left: 50%;
        margin-left: -90px;
        bottom: 20px;
    }
    
    .banner ol li {
        float: left;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #000;
        margin: 0 5px;
        text-indent: -99999px;
        cursor: pointer;
    }
    
    .banner ol li.active {
        background: blue;
    }
    
    #right,
    #left {
        font-size: 100px;
        color: #fff;
        font-family: verdana;
        position: absolute;
        text-decoration: none;
        top: 110px;
        display: none;
    }
    
    #left {
        left: 20px;
    }
    
    #right {
        right: 20px;
    }
    
    #right:hover,
    #left:hover {
        color: #000;
    }
    /* 每日精选 */
    
    .mod-new-model {
        padding-top: 25px;
    }
    
    .mod-new-model-header {
        height: 36px;
        margin: 15px 0;
        font-family: "\5FAE\8F6F\96C5\9ED1";
    }
    
    .boxflex {
        display: -webkit-box;
        -webkit-box-pack: start;
        -webkit-box-orient: horizontal;
        -webkit-box-flex: 1;
    }
    
    .boxflex .boxflexL,
    .boxflex .boxflexR,
    .boxflex .boxflexT,
    .boxflex .boxflexB {
        display: block;
        -webkit-box-flex: 1;
    }
    
    .mod-new-model-headerL {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .mod-new-model-headerL .mod-new-model-headerIcon {
        vertical-align: top;
        width: 36px;
        height: 36px;
        display: inline-block;
        background-repeat: no-repeat;
        background-size: 36px 36px;
        background-position: 100% 100%;
    }
    
    .mod-new-model-headerL .mod-new-model-headerTitle {
        vertical-align: middle;
        line-height: 36px;
        margin: 0 10px;
        font-size: 28px;
        color: #333;
    }
    
    .mod-new-model-headerL .mod-new-model-headerSlide {
        vertical-align: bottom;
        display: inline-block;
        margin-bottom: 7px;
        border-left: 1px solid #c2c2c2;
        width: 1px;
        height: 10px;
    }
    
    .mod-new-model-headerL .mod-new-model-headerSubTitle {
        vertical-align: bottom;
        display: inline-block;
        margin-bottom: 4px;
        line-height: 16px;
        padding: 0 10px;
        font-size: 16px;
        color: #c2c2c2;
    }
    
    .mod-new-model-headerR {
        width: 60px;
        text-align: right;
    }
    
    .mod-new-model-headerMore {
        display: inline-block;
        font-size: 14px;
        color: #666;
        vertical-align: bottom;
        line-height: 50px;
        padding-right: 10px;
        position: relative;
    }
    
    .mod-new-model-headerMore em {
        display: inline-block;
        margin-left: 3px;
        height: 12px;
        width: 6px;
        background: url(../img/iqiyiMallPcRedMore.png) no-repeat;
        background-position: 0 0;
        background-size: auto;
        top: 19px;
        position: absolute;
        right: 0;
    }
    
    .tchoiceness-productList {
        margin-left: -1px;
        margin-top: -1px;
        border-right: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
    }
    
    .tchoiceness-productList li {
        float: left;
        border-top: 1px solid #e5e5e5;
        border-left: 1px solid #e5e5e5;
    }
    
    .tchoiceness-product {
        width: 239px;
        display: block;
        position: relative;
        cursor: pointer;
    }
    
    .tchoiceness-productPic {
        text-align: center;
        /* display: block; */
    }
    
    .tchoiceness-productPic img {
        border: 0;
        vertical-align: middle;
        margin-top: 15px;
        -webkit-transition: -webkit-transform .7s ease;
        -moz-transition: -moz-transform .7s ease;
        -ms-transition: -ms-transform .7s ease;
        -o-transition: -o-transform .7s ease;
        transition: transform .7s ease;
    }
    
    .tchoiceness-productInfo {
        margin-top: 15px;
        margin-left: 14px;
        margin-right: 14px;
    }
    
    .tchoiceness-productInfo p {
        overflow: hidden;
        text-overflow: clip;
    }
    
    .tchoiceness-productTitle {
        font-size: 14px;
        line-height: 22px;
        height: 22px;
    }
    
    .tchoiceness-productInfo p {
        overflow: hidden;
        text-overflow: clip;
    }
    
    .tchoiceness-productSubTitle {
        font-size: 12px;
        color: #999;
        line-height: 20px;
        height: 20px;
    }
    
    .tchoiceness-productStatus {
        margin-right: 5px;
        display: inline-block;
        height: 18px;
        line-height: 18px;
        position: relative;
        font-size: 12px;
        color: #fff;
        background: url(../img/newPCindexproductStatus.png) repeat-x;
        background-position: 0 0;
        border-radius: 3px;
    }
    
    .tchoiceness-productStatus em {
        display: inline-block;
        margin-left: 10px;
        height: 18px;
        line-height: 18px;
        background-color: #ee394b;
        border-radius: 3px;
        padding-right: 3px;
        width: 52px;
        word-break: break-all;
        text-overflow: clip;
        overflow: hidden;
        vertical-align: bottom;
    }
    
    .tchoiceness-productInfo p {
        overflow: hidden;
        text-overflow: clip;
    }
    
    .tchoiceness-productDesc {
        height: 44px;
        line-height: 44px;
    }
    
    .tchoiceness-productPrice {
        font-size: 20px;
        color: #ee394b;
    }
    
    .tchoiceness-productSale {
        font-size: 12px;
        color: #999;
        float: right;
    }
    
    .tchoiceness-productList:after {
        display: table;
        content: '';
        clear: both;
    }
    
    .todaySale {
        width: 100%;
        overflow: hidden;
    }
    
    .todaySale_list {
        width: 840px;
        float: left;
        overflow: hidden;
        margin-right: 20px;
    }
    
    .todaySale_list li {
        width: 100%;
        border: 1px solid #e5e5e5;
        box-sizing: border-box;
        height: 292px;
        margin-bottom: 10px;
        cursor: pointer;
    }
    
    .todaySale_list li .shopInfo {
        width: 258px;
        float: left;
    }
    
    .todaySale_list li.shopActivity .shopTitle {
        margin: 117px auto 0;
    }
    
    .todaySale_list li .shopInfo .shopTitle {
        width: 240px;
        font-size: 24px;
        color: #333;
        line-height: 24px;
        text-align: center;
        overflow: hidden;
        margin: 17px auto 0;
        height: 24px;
    }
    
    .todaySale_list li .shopInfo .shopTitle a {
        color: #333;
    }
    
    .todaySale_list li .shopInfo .shopPrice {
        text-align: center;
        font-size: 18px;
        color: #666;
        line-height: 18px;
        margin-top: 14px;
        height: 18px;
        overflow: hidden;
        padding: 0 10px;
    }
    
    .todaySale_list li .shopImg {
        width: 580px;
        height: 100%;
        float: left;
    }
    
    .todaySale_list li .shopImg img {
        -webkit-transition: -webkit-opacity 500ms ease-out;
        -moz-transition: -moz-opacity 500ms ease-out;
        -o-transition: -o-opacity 500ms ease-out;
        transition: opacity 500ms ease-out;
    }
    
    .mod_hot_list {
        width: 340px;
        float: right;
        overflow: hidden;
        margin-bottom: 20px;
    }
    
    .mod_hot_list .hot_title {
        width: 100%;
        background: url(../img/nav_tint_redbg.png) no-repeat;
        height: 50px;
        line-height: 50px;
    }
    
    .hotSaleTitle .hotIcon {
        background: url(../img/good_hot_redranking.png) no-repeat;
        float: left;
        margin-top: 15px;
        /* display: inline-block; */
    }
    
    .hot_title .hotIcon {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-left: 16px;
        margin-right: 12px;
    }
    
    .hot_title h1 {
        font-size: 21px;
        color: #333;
        /* display: inline-block; */
        float: left;
        width: 290px;
    }
    
    .hotSaleList {
        width: 100%;
        background: #fff;
        border: 1px solid #e5e5e5;
        border-top: 0;
        box-sizing: border-box;
    }
    
    .hotSaleList li {
        width: 100%;
        height: 110px;
    }
    
    .hotSaleList li .shopImg {
        width: 130px;
        height: 110px;
        float: left;
    }
    
    .hotSaleList li .shopInfo {
        float: left;
        border-bottom: 1px solid #e5e5e5;
        box-sizing: border-box;
        position: relative;
        height: 110px;
        width: 200px;
    }
    
    .hotSaleList li .shopInfo .firstIcon {
        background: url(../img/hot_first.png) no-repeat;
    }
    
    .hotSaleList li .shopInfo .icon {
        width: 57px;
        height: 20px;
        margin-top: 14px;
        margin-bottom: 10px;
    }
    
    .hotSaleList li .shopInfo .shopTitle {
        width: 100%;
        font-size: 14px;
        color: #333;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 14px;
    }
    
    .hotSaleList .shopPriceoNum {
        width: 100%;
        position: absolute;
        bottom: 10px;
        left: 0;
        line-height: 18px;
    }
    
    .hotSaleList .shopPriceoNum .shopPrice {
        font-size: 18px;
        color: #ee394b;
        /* display: inline-block; */
        float: left;
    }
    
    .hotSaleList .shopPriceoNum .joinNum {
        font-size: 12px;
        color: #999;
        float: right;
    }
    
    .hotSaleList .shopPriceoNum .joinNum em {
        color: #ee394b;
        padding-left: 10px;
    }
    
    .hotSaleList li .shopInfo .secondIcon {
        background: url(../img/hot_second.png) no-repeat;
    }
    
    .hotSaleList li .shopInfo .thirdIcon {
        background: url(../img/hot_third.png) no-repeat;
    }
    
    .hotSaleList li .shopInfo .fourthIcon {
        background: url(../img/hot_fourth.png) no-repeat;
    }
    
    .hotSaleList li .shopInfo .fifthIcon {
        background: url(../img/hot_fifth.png) no-repeat;
    }
    
    .hotRecommendTitle .hotIcon {
        background: url(../img/good_hot_redrecommend.png) no-repeat;
        /* display: inline-block; */
        float: left;
        margin-top: 15px;
    }
    
    .hot_title .hotIcon {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-left: 16px;
        margin-right: 12px;
    }
    
    .hotRecommendList {
        width: 100%;
        background: #fff;
        border: 1px solid #e5e5e5;
        border-top: 0;
        box-sizing: border-box;
    }
    
    .hotRecommendList li {
        width: 340px;
        height: 230px;
    }
    
    .hotRecommendList .goodImg {
        width: 100%;
        height: 180px;
    }
    
    .hotRecommendList .goodImg img {
        padding-left: 10px;
        padding-top: 10px;
    }
    
    .hotRecommendList .goodTitle {
        font-size: 14px;
        color: #333;
        line-height: 14px;
        margin-bottom: 8px;
        margin-left: 10px;
        margin-right: 10px;
        height: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .hotRecommendList .goodDescribe {
        font-size: 12px;
        color: #999;
        line-height: 12px;
        margin-left: 10px;
        margin-right: 10px;
        height: 12px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .brand {
        height: 240px;
        position: relative;
        overflow: hidden;
        margin: 0 auto;
        width: 1200px;
        border: 1px solid #e5e5ee;
    }
    
    .brand ul {
        position: absolute;
        left: 0px;
        top: 0px;
    }
    
    .brand ul li {
        width: 1200px;
        height: 245px;
        float: left;
    }
    
    .brand ul li .mod-brand-item {
        float: left;
        margin: -1px 0 0 -1px;
    }
    
    .brand ul li .mod-brand-item a {
        display: block;
        overflow: hidden;
        width: 119px;
        height: 119px;
        border: 1px solid #e5e5e5;
    }
    /* .brand ol {
        position: absolute;
        width: 180px;
        height: 20px;
        left: 50%;
        margin-left: -90px;
        bottom: 20px;
    } */
    /* .brand ol li {
        float: left;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #000;
        margin: 0 5px;
        text-indent: -99999px;
        cursor: pointer;
    } */
    
    .brand ol li.active {
        background: blue;
    }
    
    #brandleft {
        background-image: url(../img/newPCindexprev.png);
        left: 0;
    }
    
    #brandright {
        background-image: url(../img/newPcINdexNext.png);
        right: 0;
    }
    
    #brandright,
    #brandleft {
        z-index: 10;
        position: absolute;
        top: 50%;
        margin-top: -30px;
        width: 40px;
        height: 60px;
        background-repeat: no-repeat;
        background-position: 0 0;
    }
    
    .mod_footer_icons_ListBox {
        width: 100%;
        border-top: 1px solid #e5e5e5;
        background: #fafafa;
        border-bottom: 1px solid #e5e5e5;
        overflow: hidden;
    }
    
    .footer_icons_List:first-child {
        height: 138px;
    }
    
    .footer_icons_List {
        width: 1200px;
        margin: 0 auto;
        box-sizing: border-box;
        border-bottom: 1px solid #e5e5e5;
    }
    
    .footer_icons_List .icons_list {
        width: 100%;
        height: 100%;
    }
    
    .footer_icons_List .iconbox {
        width: 20%;
        height: 100%;
        /* display: inline-block; */
        float: left;
    }
    
    .footer_icons_List .iconImg {
        width: 70px;
        height: 70px;
        margin: 34px 0 34px 43px;
        float: left;
    }
    
    .footer_icons_List .iconText {
        margin-left: 18px;
        float: left;
        margin-top: 48px;
    }
    
    .footer_icons_List .iconText p:first-child {
        margin-bottom: 6px;
    }
    
    .footer_icons_List_second {
        width: 1200px;
        height: 126px;
        margin: 30px auto 0;
        border-bottom: 1px solid #e5e5e5;
    }
    
    .codes_list {
        width: 100%;
        height: 100%;
    }
    
    .codeBox {
        /* display: inline-block; */
        float: left;
        /* width: 400px; */
        height: 100%;
    }
    
    .codeNarrate {
        float: left;
        width: 270px;
        /* margin-left: 10px; */
    }
    
    .footer_icons_List_second .footer_explain_first {
        color: #333;
        font-size: 18px;
        padding-bottom: 10px;
        line-height: 20px;
        display: block;
    }
    
    .footer_icons_List_second .footer_explain_other {
        color: #333;
        font-size: 14px;
        line-height: 16px;
        padding-bottom: 6px;
        display: block;
    }
    
    .footer_codes_List {
        width: 1200px;
        margin: 0 auto;
        height: 120px;
        margin-top: 39px;
        margin-bottom: 39px;
    }
    
    .codes_list {
        width: 100%;
        height: 100%;
    }
    
    .codeBox {
        /* display: inline-block; */
        float: left;
        width: 400px;
        height: 100%;
    }
    
    .codeImg {
        float: left;
        width: 120px;
        height: 100%;
    }
    
    .codeNarrate {
        float: left;
        width: 270px;
        margin-left: 10px;
    }
    
    .codeNarrate h1 {
        color: #333;
        font-size: 24px;
        padding-bottom: 5px;
    }
    
    .codeNarrate p {
        color: #666;
        font-size: 14px;
        line-height: 25px;
    }
    
    .mod_footer_links {
        font-size: 12px;
        margin: 0;
        padding-bottom: 36px;
        position: relative;
        background: #f5f5f5;
    }
    
    .qypage-1200 .mod_footer_links .ftcont {
        width: 1200px;
        margin: 0 auto;
    }
    
    .mod_footer_links .clearfix {
        color: #333;
    }
    
    .qypage-1200 .ftList li {
        margin-right: 55px;
    }
    
    .mod_footer_links .ftList li {
        /* display: inline; */
        float: left;
    }
    
    .mb10 {
        margin-bottom: 10px;
    }
    
    .mod_footer_links .ftList .last {
        margin-right: 0;
    }
    
    .clearfix:after {
        display: table;
        content: '';
        clear: both;
    }
    
    .mod_footer_links .clearfix {
        color: #333;
    }
    
    .mod_footer_links .footmenu {
        text-align: center;
    }
    
    .mod_footer_links .footmenu a {
        color: #333;
    }
    
    .mod_footer_links .cutline {
        margin: 0 5px;
        color: #333;
    }
    
    .mod_footer_links .clearfix {
        color: #333;
    }
    
    .tc {
        text-align: center;
    }
    
    .mod_footer_links .copyright {
        text-align: center;
    }
    
    .mod_footer_links .copyright {
        text-align: center;
    }
    
    .mod_pd_crumbs {
        height: 50px;
        line-height: 50px;
        font-size: 13px;
    }
    
    .mod_pd_crumbs .mod_pd_crumbs_el_index {
        color: #333;
    }
    
    .mod_pd_crumbs .mod_pd_crumbs_icon {
        color: #666;
    }
    
    .mod_pd_crumbs .mod_pd_crumbs_el {
        color: #666;
    }
    
    input {
        border: 0;
    }
    
    .wrap {
        float: left;
        position: relative;
    }
    
    #spic {
        width: 400px;
        height: 400px;
        border: 1px solid #000;
        float: left;
        position: relative;
    }
    
    #spic img {
        width: 400px;
        height: 400px;
    }
    
    #sf {
        overflow: hidden;
        position: absolute;
        width: 220px;
        height: 220px;
        background: url(../img/image_zoom.png) repeat;
        cursor: move;
        z-index: 10;
        position: absolute;
        left: 0px;
        top: 0px;
    }
    
    #bf {
        width: 500px;
        height: 500px;
        border: 1px solid #000;
        overflow: hidden;
        position: absolute;
        left: 410px;
        visibility: hidden;
        z-index: 100;
    }
    
    #bf img {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 800px;
        height: 800px;
    }
    
    #ulist {
        position: absolute;
        left: 0px;
        top: 430px;
        width: 402px;
        height: 56px;
        overflow: hidden;
    }
    
    #ulist a {
        float: left;
        width: 10px;
        height: 54px;
        border: 1px solid #ccc;
        text-decoration: none;
        line-height: 56px;
        text-align: center;
        background: #fff;
    }
    
    #list {
        float: left;
        margin-left: 18px;
        width: 372px;
        position: relative;
    }
    
    .wrap ul {
        list-style: none;
        float: left;
        position: absolute;
        left: 0px;
        top: 0px;
    }
    
    .wrap ul li {
        float: left;
        width: 56px;
        height: 56px;
        padding-right: 6px;
    }
    
    .wrap ul li img {
        width: 52px;
        height: 52px;
        border: 1px solid #ccc;
    }
    
    .goodsinfo {
        margin: 0px 0 0 100px;
    }
    
    .goodsinfo-img {
        width: 200px;
        height: 200px;
        float: left;
    }
    
    .goodsinfo-img img {
        width: 200px;
        height: 200px;
    }
    
    .goodsinfo-word {
        overflow: hidden;
        float: left;
    }
    
    .p-name {
        height: 50px;
        margin-left: 50px;
    }
    
    .p-name .loadtitle {
        font: 16px "微软雅黑";
        color: #666666;
    }
    
    .p-price {
        margin-left: 50px;
        margin-top: 40px;
        width: 300px;
        height: 50px;
        background: rgba(183, 183, 183, 0.4);
        line-height: 50px;
        font-size: 15px;
    }
    
    .p-btn {
        margin-top: 20px;
    }
    
    .p-btn input {
        width: 50px;
        height: 49px;
        font-size: 20px;
        font-family: "微软雅黑";
        color: black;
        margin-left: 50px;
        border: 1px solid gray;
        float: left;
    }
    
    .p-btn a {
        display: block;
        width: 100px;
        height: 50px;
        background-color: red;
        font-size: 16px;
        font-family: "微软雅黑";
        color: white;
        line-height: 50px;
        text-align: center;
        float: left;
        margin-left: 10px;
    }
    
    .detail-title {
        overflow: hidden;
        color: #333;
        font-size: 18px;
        font-family: "\5FAE\8F6F\96C5\9ED1";
        font-weight: bold;
        display: inline;
    }
    
    .detail-subtitle {
        color: #ee394b;
        font-size: 14px;
        font-family: "\5FAE\8F6F\96C5\9ED1";
        display: block;
        width: 600px;
        margin-bottom: 20px;
    }